<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1f93d01a-11c8-4166-8f36-15050f52fc01/resourceGroups/Tp3-RafaelCruz/providers/Microsoft.Web/sites/Tp3-RafaelCruz</ResourceId>
    <ResourceGroup>Tp3-RafaelCruz</ResourceGroup>
    <ApiResourceId>/subscriptions/1f93d01a-11c8-4166-8f36-15050f52fc01/resourceGroups/Tp3-RafaelCruz/providers/Microsoft.ApiManagement/service/friends-API/apis/Api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tp3-rafaelcruz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>d384a7e8-ced8-4600-b74a-ad895064fd55</ProjectGuid>
    <MSDeployServiceURL>tp3-rafaelcruz.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Tp3-RafaelCruz</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Tp3-RafaelCruz</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>